.navber-band {
  font-size: 60px;
  font-family: cursive;
  color: orangered;
}

.app-title {
  background-color: midnightblue;
  .navber-nav {
    list-style: none;
      display: flex;
      font-size: 20px;
      font-family: monospace;
      font-style: oblique;
  }
}

.form-group {
  width: 80%;
  margin: auto;
}

// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/